body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.container{
    min-height: 300vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    overflow: visible;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.form h2{
    text-align: center;
    margin-bottom: 20px;
}

.input-group{
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
}

.input-group input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px 20px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #5a67d8;
}

.error{
    color: red;
    font-size: 12px;
}

.google-btn{
   width: 100%;
   padding: 10px;
   background-color: black;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.google-btn:hover{
    background-color: #ccc;
}